 *{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .img{
    height: 400px;
    width: 500px;
    text-align: center;
}

.id{
  text-align: center;
}

form{
    display: flex;
    text-align: center;
    width: 20%;
    margin: auto;
}
.f{
    background-color: blue;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 40px;
    border-radius: 40px;
    align-self: flex-start;
    color: white;
}

ul{
display: flex;
text-align: center;
width: 20%;
margin: auto;
}
li{
    margin: 15px;
    list-style: none;
}
#foot{
text-align: center;
}

@media (max-width: 992px ){
    form{
        flex-direction: column;
    }
   }  
